.editable-editor {
    background-color: white !important;
    padding: 0px !important;
}
.editable-editor .codecake-editor {
    background-color: #fafafa;
    border-radius: 0.5rem;
    padding: 1rem;
}
.editable-editor .codecake-lines {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* Values types */
.editable-value {
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
}
.editable-value.string {
    color: #00a17d;
}
.editable-value.string::after,
.editable-value.string::before {
    content: '"';
}
.editable-value.null,
.editable-value.undefined,
.editable-value.boolean {
    color: #20118a;
}
.editable-value.number {
    color: #e57697;
}
.editable-value.object em,
.editable-value.function em {
    color: #2196f3;
    cursor: pointer;
    margin-right: 8px;
    user-select: none;
}
.editable-value.object em:hover,
.editable-value.function em:hover {
    text-decoration: underline;
}
.editable-value.object .object-key {
    color: #7e7e7e;
}
.editable-value.object .object-entry {
    display: flex;
    gap: 6px;
}
.editable-value.object .object-body {
    margin-left: 16px;
}
